{% extends "base.html" %}

{% block content %}

{% if success %}
<p>Interview created successfully!</p>
{% endif %}

{% if error %}
<p>{{ error }}</p>
{% endif %}




<section id="createAssessment" class="">

    <div class="row">

        <div class="row">
            <form method="post" enctype="multipart/form-data" class="col s12">
                {% csrf_token %}
                <div class="row">
                    <h4>Create Assessment</h4>
                    <div class="input-field col s12 m3 l3">
                        <input placeholder="Job Title" id="title" type="text" class="validate" name="title" required>
                        <label for="jobTitle">Job Title</label>
                    </div>
                    <div class="input-field col s12 m3 l3">
                        <input placeholder="Number Of Questions" id="questionCount" type="number"
                            name="number_of_questions" required class="validate">
                        <label for="questionCount">Number Of Questions</label>
                    </div>
                    <!-- <div class="input-field col s12 m3 l3">
                            <input placeholder="Duration Time" id="duration" type="number" class="validate">
                            <label for="duration">Duration Time</label>
                        </div> -->
                    <!-- <div class="input-field col s12 m3 l3">
                            <input placeholder="Validate Time" id="validateTime" type="number" class="validate">
                            <label for="validateTime">Validate Time</label>
                        </div> -->
                    <div class="file-field input-field col s12 m6 l6">
                        <div class="btn">
                            <span>Employees Excel File</span>
                            <input type="file" required name="employees">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </div>

                <div class="row center">
                    <button type="submit" class="waves-effect waves-light btn">Save <i
                            class="material-icons left">save</i></button>
                </div>

            </form>
        </div>

    </div>
</section>

{% endblock content %}